.edit-table {
  // header cells should never show the label
  header {
    .cell > .label {
      display: none;
    }

    .cell button.sort-btn.mantine-ActionIcon-root {
      --ai-size: 18px;
    }
  }

  .cell:not(:last-of-type) {
    border-right: 1px solid var(--mantine-color-default-border);
  }

  .cell > .label,
  .cell > .value {
    padding: 0 4px;
  }
}
