main:has(.edit-table),
.edit-table-container {
  position: relative;
}

.edit-table {
  container-name: edit-table;
  container-type: size;
  position: absolute;
  height: calc(100% - 48px); // remove header height
  width: 100%;
}

.edit-table-container {
  height: 100%;
}

.edit-table-body {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
